.lyrics-container {
  margin: 5px 10px;
  overflow-y: auto;
}

.lyrics-container h1, .lyrics-container h2 {
  text-align: center;
}

.lyrics-container .title {
  font-weight: bold;
  font-size: 24px;
}
.lyrics-container .artist {
  margin-top: 0;
  font-size: 18px;
  font-style: italic;
}

.lyrics-container .lyrics {
  white-space: pre;
  font-size: 16px;
  margin: 10px 10px;
}

.lyrics-search-bar-wrapper {
  padding: 0.5%;
}

.lyrics-list-item .title {

}

.lyrics-list-item .artist {
  font-style:italic;
}

.lyrics-list-item .dash {
  margin: 0px 5px;
}

/* XS */
@media(max-width:767px){

}

/* SM */
@media(min-width:768px){}

/* MD */
@media(min-width:992px){}

/* LG */
@media(min-width:1200px){}
